<h1>Subscribe to our Newseltter</h1>

<form action="/submit_subscribe" method="post">
  <div>
    <label for="full-name">Name</label>
    <input type="text" id="full-name" name="full_name">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
  </div>
  <input type="submit" value="Subscribe!">
</form>
