<h1>All Subscirbers</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <% @subscribers.each do |sub| %>
    <tr>
      <td class="full-name"><%= sub.full_name %></td>
      <td><%= sub.email %></td>
    </tr>
  <% end %>
</table>
